#cloud {
	width: 200px; height: 60px;
	background:  #f2f9fe;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	position: absolute;
	margin: 70px  20px;
	z-index:1;
	color:black;
	padding-left:50px;
	display:none;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1
}
#cloud:after {
	width: 100px; height: 100px;
	top: -25px; left: 20px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud:before {
	width: 100px; height: 100px;
	top: -25px; left: 80px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}
#img:hover {
    content: url('../images/srk2.jpg');
}
